body {
  background-color: #DCC7AA;
  background: url(../img/mosaic.jpg);
  background-position: center;
}

.jumbotron {
  text-align: center;
  font-family: Fantasy;
  margin: 5px;
}

button {
  margin: 5px;
  padding: 5px;
}

h2 {
  font-size: 315%;
}

h3 {
  font-size: 265%;
}

img {
  width: 100% ;
  height: auto;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 110%;
}

ul {
  font-family: Helvetica, sans-serif;
  font-size: 110%;
}

.panel-title {
  font-size: 130%;
}

a {
  color: black;
}

.awesome {
  color: rgb(90, 90, 211);
}

img.location {
  float: right;
  width: 20%;
  height: auto;
}
